.projects {
    padding: 5em 0;

    .grid {
        h1 {
            font-size: var(--h5);
            color: var(--gris);
            font-family: var(--primaria-regular);
        }

        &--head {
            .project__item {
                display: flex !important;
                width: auto !important;
                padding: 0 !important;
            }
        }

        &--wrap {
            margin-bottom: 10em;
            & > a {
                &:nth-child(odd) {
                    top: 10em;
                    position: relative;
                }
            }
        }

        .project__item {
            padding: 4em 0;
            width: 50%;
            display: inline-flex;

            picture {
                height: calc(450px + 620 * ((100vw - 1280px) / 1920));
            }
        }

        &__description {
            color: var(--gris);
            font-family: var(--secundaria-regular);

            sup {
                font-size: var(--h6);
                font-family: var(--primaria-regular);
                color: var(--naranja);
                text-transform: uppercase;
                top: -1.5em;
                margin-right: 1.5em;

                &::before {
                    content: "\2192";
                    font-family: x-large;
                    margin-right: 0.5em;
                }
            }
        }
    }

    &__quotes {
        font-size: var(--h1);
        color: var(--gris);
        font-family: var(--secundaria-regular);
        margin: 1em 0;
    }
}
